DATABASE_URL="database-url"
PORT=3001
BACKEND_URL="http://localhost:3001"
FRONTEND_URL="http://localhost:3000"

SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USER="smtp-user"
SMTP_PASS="smtp-pass"
SMTP_SECURE=false
MAIL_FROM="no-reply@example.com"


JWT_EMAIL_VERIFY_SECRET="a"
JWT_FORGOT_PASSWORD_SECRET="a"
JWT_ACCESS_SECRET="a"
JWT_REFRESH_SECRET="a"